.hero {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.904),
      rgba(255, 255, 255, 0)
    ),
    url("https://images.pexels.com/photos/4145153/pexels-photo-4145153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
}
